a{
    text-decoration: none;
    cursor: pointer;
}
body{
    background-color: #EBDEFF;
}
.cieloRana{
    height: 45vh;
    width: 100%;
    object-fit: cover;
    border-radius: 5%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .buttons{
    display: flex;
    gap: 60px;
    justify-content: center;
    margin-top: 3vh;
}
.button{
    border-radius: 5px;
    font-size: clamp(8px,16px,1rem);
    font-weight: 600;
    background-color: white;
    padding: 2vh 1.5rem;
    margin: -1rem;
    color: black;
}
.wifi{
    width: 20vw;
    height: 3vh;
    margin-left: 5px;
    position: absolute;
    top: 0;
    right: 0;
}